body{
  background: url("https://ep01.epimg.net/verne/imagenes/2017/05/04/articulo/1493882934_941754_1493888126_sumario_normal.gif");
/* background sera un gift */

}

h1 {
  left: 41%;
  font-size: 70px;
  color:#20B2AA;
  letter-spacing: -2px;
  margin: -0.7%;

}

h3 {

    left: 41%;
    font-size: 30px;
    color:#20B2AA;
    letter-spacing: 3px;
    margin: 3%;
    top: 10.5%;
}


h4 {
  left: 41%;
  font-size: 20px;
  color:#008080;
  letter-spacing: 4px;
  margin: 2%;
  top: 10.5%;

}

input {
  padding: 20px;
  text-align: center;
  border: 2px dotted;
  color: #3498DB;
  border-radius: 50px;
  font-size: 15px;
  min-height: 20px;
}
